<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.css"
  rel="stylesheet"
/>
  <link href="/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
       
    <!-- Default form register -->
<div class="container mt-5 col-xl-6">
<form class="text-center border border-light p-5" action="/admin/AddCarousel" method="post" enctype="multipart/form-data">

    <p class="h4 mb-4">Add New Carousel</p>

    <div class="form-row mb-4">
        <div class="col">
            <!--  name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Carousel Heading" name="CarouselHeading">
        </div>
    </div>
        <div class="form-row mb-4">
        <div class="col">
            <!--  name -->
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Carousel Sub-heading" name="Subheading">
        </div>
    </div>
       
       <label for="">Size 1920 x 570</label>
    <div class="form-row mb-4">
        <div class="col">
             <input
              type="file"
              id="defaultRegisterFormLastName"
              class="form-control"
              placeholder="image"
              name="image1"
            /></div>
            </div>
   
   
   

  
    {{!-- <button class="btn btn-info my-4 btn-block" type="submit">Submit</button> --}}
    <input type="submit" class="btn btn-info my-4 btn-bloc k " style="width: 100%;">

   

</form>
</div>
<!-- Default form register -->

<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.js"
></script>
    
 <!-- Bootstrap core JavaScript-->
    <script src="/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/admin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/admin/js/demo/chart-area-demo.js"></script>
    <script src="/admin/js/demo/chart-pie-demo.js"></script>

</body>

</html>
