<!-- Footer -->
<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
  <div class="">
    <div class="t-center p-l-15 p-r-15">
      <div class="t-center s-text8 p-t-20">
        <h4 class="s-text12 p-b-5">
          About CycleMart
        </h4>
      </div>
      <div class="t-center s-text8">
        <p class="s-text7 p-b-30">
          Our bikes hit the road in 2022 and since then Cyclemart has been the
          most loved Online cycle buying platform in India among millennials.
          This unique pride of buying a cycle at cyclemart within our customers,
          fuels our passion to innovate and bring in great quality products
          which are a joy to ride.
        </p>
      </div>
    </div>
    <div class="t-center p-l-15 p-r-15">
    </div>
  </div>
  <div class="t-center p-l-15 p-r-15">
    <a>
      <img class="h-size2" src="/user/images/icons/visa.png" alt="IMG-VISA" />
    </a>
    <a>
      <img
        class="h-size2"
        src="/user/images/icons/mastercard.png"
        alt="IMG-MASTERCARD"
      />
    </a>
    <a>
      <img
        class="h-size2"
        src="/user/images/icons/express.png"
        alt="IMG-EXPRESS"
      />
    </a>
    <a>
      <img
        class="h-size2"
        src="/user/images/icons/discover.png"
        alt="IMG-DISCOVER"
      />
    </a>
    <div class="t-center s-text8 p-t-20">
      Copyright © 2018 All rights reserved. | This website is made with
      <i class="fa fa-heart-o" aria-hidden="true"></i>
      by
      <a
        href="https://razibk.github.io/my-personal-website/"
        target="_blank"
      >Razibk</a>
    </div>
  </div>
</footer>